* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}


.navbar-links-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar-links-container a {
  font-size: 14.5px;
  color: #333;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.navbar-links-container a:hover {
  color: #d8a75d;
}

.navbar-cart-icon {
  color: #333;
}

.navbar-links-container .primary-button {
  background-color: transparent;
  color: #e4811e;
  padding: 7px 14px;
  font-size: 14px;
  border: 1px solid #e4811e;
  border-radius: 6px;
  
}

.navbar-links-container .primary-button:hover {
  background-color: #e4811e;
  color: #fff;
}
